// src/sass/variables.scss
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

// Globals
$body-font-family: 'Poppins', sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// Variables must come before the import
$font-weight-Light: 200;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$fab-icon-sizes: (
  'small': 20
);
$btn-sizes: (
  'default': 41,
  'large': 54
);

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  )
);


