@import "@/sass/variables.scss";

.banner {
    padding: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-text {
    position: absolute;
    text-align: right;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--v-charcoal50-base);
}
.button-style {
    background-color: var(--v-charcoal100-base);
    border: 1px solid var(--v-primary500-base);
    color: var(--v-primary500-base);
    position: absolute;
    border-radius: 32px;
    top: 71%;
    left: 66%;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: $font-weight-semibold;
}
h1 {
    font-weight: $font-weight-semibold;
    font-size: 48px;
}
p {
    font-size: 18px;
}