@import "@/sass/variables.scss";

.cart-card {
    width: 906px;
    height: 192px;
    margin-bottom: 32px;
    background-color: var(--v-charcoal100-base);
    border: 0px;
}
.v-sheet.v-card {
    border-radius: 0px;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: 0px 0px;
}
.row {
    margin: 0px;
}
.col {
    padding: 0px;
}
.col-separation {
    width: 256px;
    margin-right: -520px;
}
.product-image {
    width: 144px;
    margin: 24px;
}
.div-inside {
    margin: 0px;
    margin-top: 20px;
}
.main-title {
    font-weight: $font-weight-semibold;
    font-size: 18px;
    line-height: 26px;
    margin-top: 24px;
}
.description1 {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
}
.description2 {
    font-size: 12px;
    line-height: 18px;
    margin-top: 12px;
}
.dropdown {
    max-height: 34px;
    max-width: 52px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 24px;
}
.v-text-field {
    padding-top: 0px;
    margin-top: 0px;
}
.v-text-field.v-text-field--solo .v-input__control {
    min-height: 34px;
    max-width: 52px;
}
.button-style {
    background-color: var(--v-charcoal100-base);
    color: var(--v-primary500-base);
    width: 128px;
    height: 34px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 400px;
}
.price {
    font-weight: $font-weight-semibold;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    align-self: center;
}