@import "@/sass/variables.scss";

.col {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.titles {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-semibold;
}
.filter-checkbox {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 16px;
  height: 24px;
  font-size: 18px;
  line-height: 26px;
  font-weight: $font-weight-regular;
}
.v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
  margin-bottom: 16px;
}
.button-style {
  background-color: var(--v-primary500-base) !important;
  color: var(--v-charcoal50-base);
  border-radius: 32px;
  width: 154px;
  height: 48px;
  font-size: 24px;
  font-weight: $font-weight-semibold;
  line-height: 32px;
  margin-top: 16px;
}